<p>
    <a routerLink="/home" class="btn btn-primary">Home</a>
    <button class="btn btn-info" (click)="toggleMode()">
        <span *ngIf="inEditMode()">Play</span>
        <span *ngIf="inPlayMode()">edit</span>
    </button>
    <span *ngIf="gameIsComplete()"><i class="fas fa-star"></i>The game appears to be finished! Well done.<i class="fas fa-star"></i></span>

    <button class="float-right btn btn-danger" (click)="deleteGame()">Delete</button>
    <span class="manage-name float-right">
        <span *ngIf="!editingName()" class="display-name" (click)="editName()" title="Click to edit ">{{getGameName()}}</span>
        <span *ngIf="editingName()" >
            <input type="text" [(ngModel)]="newGameName">
            <button class="btn btn-primary" (click)="saveName()" [disabled]="!newGameName">Save</button>
            <button class="btn btn-secondary" (click)="cancelEditName()">Cancel</button>
        </span>
    </span>
</p>

<div *ngIf="gameInProgress()">

    <div id="letters-available">
        <table>
            <tr *ngFor="let availRow of getAvailableLetters()">
                <td *ngFor="let availableLetter of availRow" [ngClass]="{'used': isUsed(availableLetter)}">
                    {{ availableLetter }}
                </td>
            </tr>
        </table>
    </div>

    <div id="grid">
        <!-- Edit mode -->
        <div class="grid-container" *ngIf="inEditMode()">
            <div class="standard-board edit-mode" *ngFor="let block of getBlocks(); let blockIdx = index">
                <div class="float-right block-tools">
                    <button (click)="deleteBlock(blockIdx)" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</button>
                    <button (click)="moveBlockDown(blockIdx)" class="btn btn-info" [disabled]="blockIdx == getBlocks().length-1"><i class="fas fa-arrow-circle-down"></i>Move</button>
                    <button (click)="moveBlockUp(blockIdx)" class="btn btn-info" [disabled]="blockIdx == 0"><i class="fas fa-arrow-circle-up"></i>Move</button>
                    <button (click)="addColumn(blockIdx)" class="btn btn-info"><i class="fas fa-plus-circle"></i><i class="fas fa-arrow-circle-right"></i>Col</button>
                    <button (click)="removeColumn(blockIdx)" class="btn btn-info" [disabled]="block.getRows().length <= 1"><i class="fas fa-arrow-circle-left"></i><i class="fas fa-minus-circle"></i>Col</button>
                    <button (click)="addRow(blockIdx)" class="btn btn-info" *ngIf="block.isQuotation() || !block.isSquare()"><i class="fas fa-plus-circle"></i><i class="fas fa-arrow-circle-down"></i>Row</button>
                    <button (click)="removeRow(blockIdx)" class="btn btn-info" *ngIf="block.isQuotation() || !block.isSquare()" [disabled]="block.getRows().length <= 1"><i class="fas fa-minus-circle"></i><i class="fas fa-arrow-circle-up"></i>Row</button>
                    <button (click)="toggleSquareness(blockIdx)" class="btn btn-info" *ngIf="!block.isQuotation() && block.widthEqualsHeight()"><i class="fas fa-random"></i>Squareness</button>
                </div>
                <div class="block-container">
                    <span class="block-description">{{ block.getBlockDescription() }}</span>
                    <table>
                        <tr *ngFor="let boardRow of block.getRows(); let rowIdx = index">
                            <td *ngFor="let boardCol of boardRow; let colIdx = index" [ngClass]="{'block': boardCol.isBlock(), 'unknown': boardCol.isUnknown(), 'unnumbered': boardCol.isUnnumbered()}">
                                <div [ngClass]="['block-cell', block.getType(), boardCol.getFocusClass()]">
                                    <input
                                        type="text"
                                        id="cell_{{blockIdx}}_{{rowIdx}}_{{colIdx}}"
                                        [value]="boardCol.getCellCode()"
                                        (change)="setBoardCol($event, boardCol, block, rowIdx, colIdx)"
                                        (focus)="boardCol.setFocus(true)"
                                        (blur)="boardCol.setFocus(false)"
                                    />
                                    <div *ngIf="block.getType() === 'quotation'">
                                        {{ boardCol.getEditDisplayValue() }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <form>
                <table>
                    <tr>
                        <td rowspan="2">
                            <input type="text" class="block-size" [(ngModel)]="newBlockWidth" name="block-width" (change)="blockWidthHasChanged()">W x
                            <span *ngIf="isSquare">{{ newBlockHeight }}</span>
                            <input *ngIf="!isSquare" type="text" class="block-size" [(ngModel)]="newBlockHeight" name="block-height">
                            H
                            &nbsp;<label><input type="checkbox" name="isSquare" [(ngModel)]="isSquare" (click)="toggleSquare()"/> Square</label>
                        </td>
                        <td>
                            <button class="btn btn-secondary" (click)="addReflectional()">Add block</button> (with full reflectional symmetry)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-secondary" (click)="addRotational()">Add block</button> (with only rotational symmetry)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="block-size" [(ngModel)]="newQuotationWidth" name="quote-width">W
                            x
                            <input type="text" class="block-size" [(ngModel)]="newQuotationHeight" name="quote-height">H
                        </td>
                        <td>
                            <button class="btn btn-secondary" (click)="addQuotation()">Add Quotation</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <!-- Play mode -->
        <div class="grid-container" *ngIf="inPlayMode()">
            <div class="standard-board" *ngFor="let block of getBlocks()">
                <span class="block-description">{{ block.getBlockDescription() }}</span>
                <table>
                    <tr *ngFor="let boardRow of block.getRows()">
                        <td
                            *ngFor="let boardCol of boardRow"
                            [ngClass]="{'block': boardCol.getRawValue() == 0, 'unknown': boardCol.isUnknown(), 'unnumbered': boardCol.isUnnumbered()}"
                            [attr.title]="getCertainty(boardCol.getRawValue()) == null ? '' : 'Certainty: '+certaintyToDisplay(getCertainty(boardCol.getRawValue()))"
                            (click)="showLetterChooser(boardCol.getRawValue())"
                            (dblclick)="cycleCertainty(boardCol.getRawValue())"
                        >
                            <span
                                [ngClass]="['block-cell', block.getType()+'-block-cell', boardCol.isHighlighted() ? 'highlighted' : '']"
                                (mouseover)="highlightByBoardCell(boardCol, true)"
                                (mouseout)="highlightByBoardCell(boardCol, false)"
                            >
                                <span *ngIf="boardCol.isPrintableChar()">
                                    <span class="code-number">{{boardCol.getDisplayValue()}}</span>
                                    <span class="cell certainty" [ngClass]="'certainty-'+getCertainty(boardCol.getRawValue())">
                                        {{getLetter(boardCol.getRawValue())}}
                                    </span>
                                </span>
                                <span *ngIf="boardCol.getDoubleLetterLinks().hasUp()" class="double-letter up"></span>
                                <span *ngIf="boardCol.getDoubleLetterLinks().hasDown()" class="double-letter down"></span>
                                <span *ngIf="boardCol.getDoubleLetterLinks().hasLeft()" class="double-letter left"></span>
                                <span *ngIf="boardCol.getDoubleLetterLinks().hasRight()" class="double-letter right"></span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="number-map">
        <table>
            <tr *ngFor="let codeNumbers of getCodeNumbers()">
                <td
                    *ngFor="let codeNumber of codeNumbers"
                    class="used-letters"
                    (click)="showLetterChooser(codeNumber)"
                    [attr.title]="getCertainty(codeNumber) == null ? '' : 'Certainty: '+certaintyToDisplay(getCertainty(codeNumber))"
                    (dblclick)="cycleCertainty(codeNumber)"
                >
                    <span class="which-number">{{ codeNumber }}</span>
                    <span class="which-letter certainty" [ngClass]="['certainty-'+getCertainty(codeNumber), getHighlightClass(codeNumber)]" (mouseover)="highlightByCodeNumber(codeNumber, true)" (mouseout)="highlightByCodeNumber(codeNumber, false)">
                        {{getLetter(codeNumber)}}&nbsp;
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div id="legend" *ngIf="inEditMode()">
        <table>
            <tr>
                <th colspan="3">Legend</th>
            </tr>
            <tr>
                <td>0</td><td>=</td><td>block</td>
            </tr>
            <tr>
                <td>1-26</td><td>=</td><td>normal letter</td>
            </tr>
            <tr>
                <td>?</td><td>=</td><td>unnumbered letter</td>
            </tr>
            <tr>
                <td>*</td><td>=</td><td>undefined</td>
            </tr>
        </table>
    </div>

    <div id="set-letter" *ngIf="chooser != null" (keyup)="chooser.handleKeyPress($event)">
        <table>
            <tr>
                <td>Code</td><td>{{chooser.getDisplayCode()}}</td>
            </tr>
            <tr>
                <td>Letter</td>
                <td>
                    <button
                        class="btn btn-primary"
                        id="show-hide-available-letters"
                        type="button"
                        (click)="chooser.toggleShowAvailableLetters()"
                    >
                        {{ chooser.getSelectedLetter() }} <i class="fas fa-caret-down"></i>
                    </button>
                    <button class="btn btn-danger"[disabled]="!chooser.getSelectedLetter()" (click)="chooser.clearSelection()"><i class="fas fa-trash-alt"></i></button>
                    <div class="card card-body" id="available-letters" *ngIf="chooser.showingAvailableLetters()">
                        <table>
                            <tr *ngFor="let availLetterRow of chooser.getAvailableLetterGrid()">
                                <td
                                    *ngFor="let availLetter of availLetterRow"
                                    (click)="chooser.setLetter(availLetter)"
                                >
                                    <div>
                                        {{ availLetter }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="certainty-heading" >Certainty</td>
                <td class="certainty-options">
                    <label *ngFor="let certainty of chooser.getCertainties()">
                    <input
                        type="radio"
                        name="certainty"
                        [value]="certainty"
                        [checked]="certainty == chooser.getSelectedCertainty()"
                        (click)="chooser.setCertainty(certainty)"
                    />
                        {{certaintyToDisplay(certainty)}}
                    </label>
                </td>
            </tr>
        </table>
        <button class="btn btn-danger" (click)="closeLetterChooser()">Cancel</button>
        <button class="btn btn-primary" (click)="confirmLetter()">Ok</button>
    </div>

    <div class="float-right" id="reset-game">
        <button class="btn btn-danger" title="Remove all letters except those the given ones" (click)="resetGame()">Reset Game</button>
    </div>

</div>
