#letters-available, #grid, #number-map, #set-letter, #legend {
    float: left;
    margin-left: 1em;
}

#letters-available td {
    padding-left: 0.5em;
    color: blue;
    font-weight: bold;
}
#letters-available .used {
    text-decoration: line-through;
}

.manage-name {
    margin-right: 1em;
}
.manage-name span.display-name {
    border: 1px dashed grey;
    padding: 0.5em;
    border-radius: 0.5em;
    display: inline-block;
}

.grid-container {
    min-width: 25em;
}

.grid-container .block-size {
    width: 3em;
}

.grid-container .edit-mode input {
    width: 3em;
    height: 2em;
    font-size: x-small;
    vertical-align: top;
}
.grid-container .edit-mode div.quotation div {
    border-top: 1px solid black;
    height: 1.5em;
    text-align: center;
}
.grid-container .edit-mode .focussed input {
    background: orange;
}

.standard-board {
    margin-bottom: 1em;
}
.standard-board.edit-mode {
    min-height: 20em;
}
.standard-board table {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.standard-board td {
    padding: 0;
}
.standard-board td .block-cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 2.2em;
    display: block;
    position: relative;
}
.standard-board td .reflectional-block-cell,
.standard-board td .rotational-block-cell {
    height: 2.2em;
}
.standard-board td .quotation-block-cell {
    height: 3.4em;
}
.standard-board td.block {
    background: black;
}
.standard-board td.unknown {
    background: lightgrey;
}
.standard-board td.unnumbered {
    background: lightpink;
}
.standard-board .reflectional-block-cell .cell,
.standard-board .rotational-block-cell .cell {
    position: relative;
    left: -0.2em;
    top: 0.4em;
}
.standard-board .reflectional-block-cell .code-number,
.standard-board .rotational-block-cell .code-number {
    font-size: 0.5em;
    vertical-align: top;
    width: 1em;
    display: inline-block;
}
.standard-board .quotation-block-cell .code-number {
    left: 0.7em;
    position: relative;
    color: blue;
}
.standard-board .quotation-block-cell .cell {
    border-top: 1px solid black;
    display: inline-block;
    height: 2em;
    width: 100%;
    text-align: center;
}

.block-description {
    font-size: smaller;
    color: grey;
    font-style: italic;
}

.block-container {
    display: inline-block;
}

.block-tools {
    width: 9em;
    margin-left: 1em;
}
.block-tools button {
    margin-bottom: 0.5em;
}

#number-map .used-letters {
    border: 1px solid black;
    width: 3em;
    padding: 0;
}
#number-map .used-letters .which-number {
    color: white;
    background: darkblue;
    display: inline-block;
    width: 1.4em;
    padding-left: 0.1em;
}

#number-map .used-letters .which-letter {
    display: inline-block;
    width: 1.2em;
    text-align: center;
}

.block-cell.highlighted, .used-letters .which-letter.highlighted {
    background: #f15522 !important;
}

.certainty.certainty-25 {
    color: #D7D7D7;
}
.certainty.certainty-50 {
    color: #B0B0B0;
}
.certainty.certainty-75 {
    color: #707070;
}
.certainty.certainty-100, .certainty.certainty-101 { /* "101" means "given in the question", so it's certain */
    color: black;
}
.which-letter.certainty.certainty-101 {
    color: red; /* Show given letters in red in the letter chooser grid */
}

#set-letter {
    border: 1px solid black;
    padding: 1em;
}
#set-letter .certainty-heading  {
    vertical-align: top;
}
#set-letter .certainty-options label {
    display: block;
}

#show-hide-available-letters {
    width: 4em;
}

#show-hide-available-letters i {
    float: right;
}

#available-letters {
    position: absolute;
}

#available-letters td {
    width: 2em;
    text-align: center;
}
#available-letters td div {
    border: 1px solid black;
    border-radius: 0.3em;
    height: 1.6em;
    width: 1.9em;
}
#legend {
    border: 1px solid black;
}

.double-letter {
    border: 1px solid red;
    position: absolute;
    display: block;
}
.double-letter.up, .double-letter.down {
    width: 1px;
    height: 5px;
}
.double-letter.left, .double-letter.right {
    width: 5px;
    height: 1px;
}
.double-letter.up {
    top: -1px;
    left: 14px;
}
.double-letter.down {
    top: 31px;
    left: 14px;
}
.double-letter.left {
    top: 16px;
    left: -1px;
}
.double-letter.right {
    top: 16px;
    left: 30px;
}
