<p>This app helps you solve the <a href="https://www.puzzler.com/puzzles-a-z/codeword" target="_blank">codebreaker puzzles</a> as featured in various <a href="https://www.greatmagazines.co.uk/codebreaker-puzzle-magazines" target="_blank">puzzle books</a>.</p>
<p>
    A game consists of zero or more blocks. Each block has either full reflectional symmetry or rotational symmetry
    (both always square) or is a quotation block. You can add, remove and move blocks. You can resize blocks.
</p>
<p>A game starts with a 15x15 block with full reflectional symmetry.</p>
<p>
    In edit mode, you can (re)name a game, and delete it. You can change the code in any cell (see the legend for
    allowed values). You can also reset a game, which removes all letters except for the given ones.
</p>
<p>
    When playing, click on a cell or a letter in the legend, and choose the letter and how certain you are of it.
    Choose "Given" if you are given the number in the puzzle. When you are 100% certain of every letter, the game is over.
</p>
<p>
    This application does not solve the puzzle for you; you still have to work out for yourself which letter goes with
    which number.
</p>
<p>All changes to a game are saved in your browser.</p>
<p>Start a <a class="btn btn-primary" (click)="newGame()"><i class="fas fa-plus"></i>New game</a></p>

<div *ngIf="getGamesList().length > 0">
    <p>Or load a saved game...</p>
    <ul>
        <li *ngFor="let game of getGamesList()">
            <a [routerLink]="['/game', game.getRef()]">{{ game.getName() }}</a>
        </li>
    </ul>
</div>
